@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #9a4b7b;
  --primary-color-dark: #782a59;
  --text-dark: #333333;
  --white: #ffffff;
  --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

body{
    font-family: "Montserrat", sans-serif;

}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
 }

.nav__logo a img{
    width: 90px;
}

 .nav__logo .logo-dark{
    display: none;
 }

 .nav__menu__btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
 }

 .nav__links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
 }

 .nav__links.open{
    transform: translateY(100%);
 }

 .nav__links a{
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
 }

 header{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: grid;
    gap: 4rem 1rem;
 }

 .header__image{
    overflow: hidden;
 }

 .header__image img{
    max-width: 500px;
    margin-inline: auto;
 }

 .header__content h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
 }

  .header__content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
 }

 .header__content p {
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-dark);
    text-align: center;
 }
.header__btn {
  margin-bottom: 5rem;
  text-align: center;
}

.header__btn button {
  padding: 1rem 1.5em;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__btn button:hover {
  background-color: var(--primary-color-dark);
}

.header__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__socials a {
  padding: 8px 10px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
}

.header__socials a:hover {
  background-color: var(--primary-color-dark);
}

 @media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__header{
        padding: 0;
        background-color: transparent;
    }

    .nav__logo a img {
        max-width: 125px;
    }

    .nav__logo .logo-dark{
        display: flex;
    }
    .nav__logo .logo-white{
        display: none;
    }
    .nav__links{
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }

    .nav__links a{
        font-weight: 600;
        color: var(--text-dark);
    }

    .nav__links a:hover{
        color: var(--primary-color)
    }

    header{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header__content{
        grid-area: 1/1/2/2;
    }

    .header__content :is(h2, h1, p, .header__btn){
        text-align: left;
    }

    .header__socials{
        justify-content: flex-start;
    }
 }